@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');


        /* Menu Change */

#menu .activeM{
    background: #CF6C01;
    color: #fff;
    border-radius: 15px;
}

.sec2 .activeA{
    background: #fff;
    display: block;
}

.sec2 .disable{
    display: none;
}

        /* Body */

body{
    background: #252525;
    font-family: Roboto;
    margin: 0;
}

#wrapper{
    max-width: 1440px;
    width: auto;
    margin: 0 auto;
    background: #fff;
}


        /* Header */



#banner img{
    width: 100%;
}

#site a{
    border-radius: 40px;
    cursor: pointer;
}


        /* Sobre nós */

.sec1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF7EE;
    margin-top: -4px;
    width: 100%;
}

#us{
    text-align: flex-start;
    width: 42%;
    margin-left: 72px;
}

#us p{
    font-weight: 400;
    font-size: 1.1em;
    line-height: 21px;
    color: #302F2F;
}

.para2{
    margin-top: 40px;
}

#us h2{
    font-weight: 700;
    font-size: 3em;
    line-height: 56px; 
    color: #CF6C01;
}

.img{
    margin: 0;
    width: 49.3%;
}

.img img{
    width: 100%;
}


        /* Menu */

nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.active{
    display: none;
}

#logo img{
    width: 50px;
    height: auto;
}

#menu{
    display: flex;
    justify-content: center;
    padding-inline-start: 0;
}

#menu button{
    font-weight: 900;
    font-size: 1em;
    line-height: 16px;
    color: #CF6C01;
    border: none;
    background: none;
    cursor: pointer;
    padding: 7px 8px 7px 8px;
    text-transform: uppercase;
    letter-spacing: 0.02em;
}

#menu button:hover{
    background: #CF6C01;
    color: #fff;
    border-radius: 15px;
    transition: .3s;
}

#menu li:not(:last-child){
    margin-right: 30px;
}

li{
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 57px;
}

.botao i{
    font-size: 1.5em;
    color: #fff;
    cursor: pointer;
    display: none;
    position: absolute;
    top: 10px;
    right: 20px;
}

#check{
    display: none;
}


        /* Nossas confecções */

.sec2{
    margin-bottom: 44px;
}

.title1{
    display: flex;
    align-items: center;
    flex-flow: column;
}

.title1 h1{
    margin: 54px 0 15px 0;
    font-weight: 700;
    font-size: 2.4em;
    line-height: 44px;
    color: #CF6C01;
    text-transform: uppercase;
}

.line1{
    background: #CF6C01;
    width: 18.3%;
    height: 11px;
}

.title2{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.title2 h2{
    font-weight: 700;
    font-size: 2.2em;
    line-height: 43px;
    color: #CF6C01;
    text-transform: uppercase;
    padding: 20px;
    margin: 50px 0 20px 96px;
}

.line2{
    background: #CF6C01;
    width: 70.9%;
    height: 3px;
    margin-top: 30px;
}

#line1{
    width: 70.9%;
}

#line2{
    width: 71.88%;
}

#line3{
    width: 69.13%;
}

#line4{
    width: 72.18%;
}

#line5{
    width: 64.65%;
}

.imgW{
    display: flex;
    justify-content: center;
}

.imgW img:not(:last-child){
    margin-right: 44px;
}

.imgW img{
    width: 25.8%;
}

#edredom, #tapete, #bandana, #manta, #travesseiro{
    flex-flow: column-reverse;
}

#change1{
    margin-top: 70px;
    margin-bottom: 35px;
    flex-flow: column-reverse;
}

#change1 h2{
    padding: 0;
    margin: 0 auto;
}

#change2{
    margin-top: 5px;
    width: 10%;
}

        /* Footer */

input:-webkit-autofill:hover, input:-webkit-autofill{
-webkit-text-fill-color: #616161;
}

#contact{
    display: flex;
    flex-flow: column;
    align-items: center;
}

.msg{
    display: flex;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

.msg p, .msg h3{
    margin: 0;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.msg p{
    margin: 70px 0 10px 0;
    font-size: 20px;
    line-height: 23px;
}

.msg h3{
    margin-bottom: 40px;
    font-size: 40px;
    line-height: 47px;
}

#mail{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    width: 70.2%;
    background: #FFF0E0;
    border-radius: 10px;
}

input{
    font-weight: 700;
    font-size: 1.1em;
    line-height: 23px;
    color: #616161;
    border-radius: 10px;
    border: none;
    margin: 15px;
    padding: 15px 0 10px 20px;
}

input:focus{
    outline: none;
}

.name{
    margin-top: 48px;
    width: 41%;
    margin-bottom: 0;
}

.email{
    margin-top: 48px;
    width: 41%;
    margin-bottom: 0;
}

.sub{
    width: 87%; 
}

.text{
    border: none; 
    width: 900px;
    height: 140px;
    outline: none;
    font-size: 1.1em;
    font-weight: 700;
    color: #616161;
    padding: 12px 0 0 8px;
    border-radius: 10px;
    resize: none;
    font-family: Roboto;
}

#text{
    width: 89%;
    height: 142px;
    background: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

#send{
    font-weight: 500;
    font-size: 1.2em;
    line-height: 23px;
    text-transform: uppercase;
    color: #fff;
    background: #D76F00;
    padding: 15px 58px;
    border-radius: 25px;
    border: none;
    margin: 33px 0 52px 0;
    cursor: pointer;
}

footer{
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
}

footer p{
    font-weight: 700;
    font-size: 1.2em;
    line-height: 23px;
    color: #fff;
    text-align: center;
    margin-bottom: 0;
}

#copy{
    margin: 25px 0 50px 0;
}

#midia{
    margin-top: 70px;
    display: flex;
}

#face{
    background: #fff;
    padding: 7px 9px 0 9px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 4.2px;
}

.face{
    color: #D76F00;
    text-decoration: none;
}

#insta{
    margin-right: 25px;
    color: #fff;
}

#contact{
    background: #D76F00;
}


@media (max-width: 1024px){

    #us{
        margin-left: 20px;
        width: 47%;
    }

    #us h2{
        margin-top: 6px;
        margin-bottom: 12px;
    }

    .sec2 h2{
        margin-left: 1.31em;
    }

    .sec2 #line1, .sec2 #line2, .sec2 #line3, .sec2 #line4, .sec2 #line5{
        width: 100%;
    }

    .line1{
        width: 35%;
    }

}

@media (max-width: 858px){

    .botao i{
        display: block;
    }

    #menu{
        position: fixed;
        top: 25px;
        width: 100%;
        background: #fff;
        transition: all 0.5s;
        display: block;
        top: -100%;
    }

    #menu button{
        padding: 20px 0;
    }

    #menu button:hover{
        background: #fff;
        color: #D76F00;
        width: 100%;
    }

    nav #menu li{
        margin: 0;
    }

    nav #menu li:not(:last-child){
        margin-right: 0;
    }

    #menu.menuMobile{
        top: 0;
        transition: all 0.5s;
        margin-top: 45px;
    }

    #mobile{
        position: fixed;
        background: #D76F00;
        top: 0;
        width: 100%;
        height: 45.3px;
        z-index: 1;
    }

    #menu button{
        font-weight: 700;
    }

    .sec2{
        position: unset;
    }

    .sec2 h1{
        margin-bottom: 5px;
    }

    #contact{
        position: unset;
    }

    .active{
        display: block;
        position: fixed;
        z-index: 2;
        top: -8px;
        left: 20px;
    }

    .sec1{
        flex-flow: column;
    }

    #us{
        width: 90%;
        text-align: center;
        margin: 10px auto;
    }

    .img img{
        margin-bottom: 10px;
    }

    .para2 p:last-child{
        margin-top: 5px;
    }

    .para2 p{
        margin-bottom: 5px;
    }

    .name, .sub, .email{
        width: 100%;
    }

    .email{
        margin-top: 15px;
    }

    .line1{
        height: 7px;
        width: 40%;
    }

    #banner img{
        margin-top: 45px;
    }

}

@media (max-width: 425px){

    .img img{
        display: none;
    }

    #us h2{
        font-size: 2em;
    }

    #us p{
        font-size: 1em;
        margin-bottom: 25px;
    }

    .sec2 h1{
        font-size: 2em;
        margin-bottom: 0;
    }

    .line1{
        width: 70%;
    }

    .title2{
        flex-flow: column-reverse;
    }

    .title2 h2{
        padding: 0;
        margin: 10px auto;
        font-size: 1.8em;
    }

    .line2{
        margin: 40px auto;
        margin-bottom: 5px;
    }

    .imgW{
        flex-flow: column;
    }

    #ho .imgW img{
        margin: 10px auto;
        width: 80%;
    }

    .msg p{
        font-size: 0.9em;
        margin-bottom: 0;
    }

    .msg h3{
        font-size: 1.6em;
        margin-top: 0;
    }

    #mail{
        width: 97%;
    }

    #mail input, #mail textarea{
        font-size: 1em;
    }

    #send{
        font-size: 1.1em;
        padding: 15px 40px;
    }

    #copy{
        font-size: 0.7em;
    }

}

@media (max-width: 375px){

    .line1{
        width: 65%;
    }

    #us h2{
        font-size: 1.9em;
    }

    #us p{
        font-size: 0.8em;
    }

    .sec2 h1{
        font-size: 1.7em;
    }

    .title2 h2{
        font-size: 1.5em;
    }

    #ho .imgW img{
        width: 90%;
    }

    .msg p{
        font-size: 0.8em;
    }

    .msg h3{
        width: 70%;
        margin: 0 auto;
        margin-bottom: 30px;
        font-size: 1.3em;
        line-height: 1.1em;
    }

    #send{
        font-size: 0.9em;
        padding: 10px 30px;
    }

    #copy p{
        width: 60%;
        margin: 40px auto 20px auto;
    }

    #copy{
        margin: 0 auto;
    }
}