@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');


/*.activeM{
    background: red;
    color: #fff;
}

.sec2 .activeA{
    position: absolute;
    background: red;
    z-index: 2;
}

.sec2{
    position: relative;
}

.sec2 article{
    position: absolute;
    z-index: 1;
    background: blue;
}*/

/* provisório */

.sec2{
    background: #fff;
    position: relative;
    margin-bottom: 70px;
}

#ed, #ta, #ba, #ma, #tr{
    position: absolute;
    z-index: 0;
    opacity: 0;
}

#contact{
    position: relative;
    z-index: 1;
}


/*   ==   */

body{
    background: #252525;
    font-family: Roboto;
    margin: 0;
}

#wrapper{
    max-width: 1440px;
    width: auto;
    margin: 0 auto;
    background: #fff;
}


        /* Header */



#banner img{
    width: 100%;
}

#site a{
    border-radius: 40px;
    cursor: pointer;
}


        /* Sobre nós */

.sec1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF7EE;
    margin-top: -4px;
    width: 100%;
}

#us{
    text-align: flex-start;
    width: 42%;
    margin-left: 72px;
}

#us p{
    font-weight: 400;
    font-size: 1.1em;
    line-height: 21px;
    color: #302F2F;
}

.para2{
    margin-top: 40px;
}

#us h2{
    font-weight: 700;
    font-size: 3em;
    line-height: 56px; 
    color: #CF6C01;
}

.img{
    margin: 0;
    width: 49.3%;
}

.img img{
    width: 100%;
}


        /* Menu */

nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.active{
    display: none;
}

#logo img{
    width: 50px;
    height: auto;
}

#menu{
    display: flex;
    justify-content: center;
    padding-inline-start: 0;
}

#menu button{
    font-weight: 900;
    font-size: 1em;
    line-height: 16px;
    color: #CF6C01;
    border: none;
    background: none;
    cursor: pointer;
    padding: 7px 8px 7px 8px;
    text-transform: uppercase;
    letter-spacing: 0.02em;
}

#menu button:hover{
    background: #CF6C01;
    color: #fff;
    border-radius: 15px;
    transition: .3s;
}

#menu li:not(:last-child){
    margin-right: 30px;
}

li{
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 57px;
}

.botao i{
    font-size: 1.5em;
    color: #fff;
    cursor: pointer;
    display: none;
}

#mobile{
    position: absolute;
    top: 10px;
    right: 20px;
}

#check{
    display: none;
}


        /* Nossas confecções */

.title1{
    display: flex;
    align-items: center;
    flex-flow: column;
}

.title1 h1{
    margin: 54px 0 15px 0;
    font-weight: 700;
    font-size: 2.4em;
    line-height: 44px;
    color: #CF6C01;
    text-transform: uppercase;
}

.line1{
    background: #CF6C01;
    width: 18.3%;
    height: 11px;
}

.title2{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.title2 h2{
    font-weight: 700;
    font-size: 2.2em;
    line-height: 43px;
    color: #CF6C01;
    text-transform: uppercase;
    padding: 20px;
    margin: 50px 0 20px 96px;
}

.line2{
    background: #CF6C01;
    width: 70.9%;
    height: 3px;
    margin-top: 30px;
}

#line1{
    width: 70.9%;
}

#line2{
    width: 71.88%;
}

#line3{
    width: 69.13%;
}

#line4{
    width: 72.18%;
}

#line5{
    width: 64.65%;
}

.imgW{
    display: flex;
    justify-content: center;
}

.imgW img:not(:last-child){
    margin-right: 44px;
}

.imgW img{
    width: 25.8%;
}


        /* Footer */

#contact{
    display: flex;
    flex-flow: column;
    align-items: center;
}

.msg{
    display: flex;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

.msg p, .msg h3{
    margin: 0;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.msg p{
    margin: 70px 0 10px 0;
    font-size: 20px;
    line-height: 23px;
}

.msg h3{
    margin-bottom: 40px;
    font-size: 40px;
    line-height: 47px;
}

#mail{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    width: 70.2%;
    background: #FFF0E0;
    border-radius: 10px;
}

input{
    font-weight: 700;
    font-size: 1.1em;
    line-height: 23px;
    color: #616161;
    border-radius: 10px;
    border: none;
    margin: 15px;
    padding: 15px 0 10px 20px;
}

input:focus{
    outline: none;
}

.name{
    margin-top: 48px;
    width: 41%;
    margin-bottom: 0;
}

.email{
    margin-top: 48px;
    width: 41%;
    margin-bottom: 0;
}

.sub{
    width: 87%; 
}

.text{
    border: none; 
    width: 900px;
    height: 140px;
    outline: none;
    font-size: 1.1em;
    font-weight: 700;
    color: #616161;
    padding: 12px 0 0 8px;
    border-radius: 10px;
    resize: none;
    font-family: Roboto;
}

#text{
    width: 89%;
    height: 142px;
    background: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

#send{
    font-weight: 500;
    font-size: 1.2em;
    line-height: 23px;
    text-transform: uppercase;
    color: #fff;
    background: #D76F00;
    padding: 15px 58px;
    border-radius: 25px;
    border: none;
    margin: 33px 0 52px 0;
    cursor: pointer;
}

footer{
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
}

footer p{
    font-weight: 700;
    font-size: 1.2em;
    line-height: 23px;
    color: #fff;
    text-align: center;
    margin-bottom: 0;
}

#copy{
    margin: 25px 0 50px 0;
}

#midia{
    margin-top: 70px;
    display: flex;
}

#face{
    background: #fff;
    padding: 7px 9px 0 9px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 4.2px;
}

.face{
    color: #D76F00;
    text-decoration: none;
}

#insta{
    margin-right: 25px;
    color: #fff;
}

#contact{
    background: #D76F00;
}


@media (max-width: 1024px){

    #us{
        margin-left: 20px;
        width: 47%;
    }

    #us h2{
        margin-top: 6px;
        margin-bottom: 12px;
    }

    .sec2 h2{
        margin-left: 1.31em;
    }

    .sec2 #line1, .sec2 #line2, .sec2 #line3, .sec2 #line4, .sec2 #line5{
        width: 100%;
    }

}

@media (max-width: 858px){

    .botao i{
        display: block;
    }

    #menu{
        position: fixed;
        top: 25px;
        width: 100%;
        background: #fff;
        transition: all .5s;
        display: block;
        left: -100%;
    }

    #menu button{
        padding: 20px 0;
    }

    #menu button:hover{
        background: #fff;
        color: #D76F00;
        width: 100%;
        transition: all .5s;
    }

    nav #menu li{
        margin: 0;
    }

    nav #menu li:not(:last-child){
        margin-right: 0;
    }

    #check:checked ~ ul{
        left: 0;
    }

}